<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!-- Builderall Global Script -->
<script>
(function(b, u, i, l, d, e, r) {
    const config = {
        bgskey: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiODdjOTM2OWItM2E2Mi00MGI2LWE2NTctNjg0YmQ1ZGYxYzA5In0.2joSxUk1ztdC8dcpsU8c7LOW1JNv7SSmnFNtkPBxVI8",
        url: encodeURI(u.href)
    }
    d = b.createElement(i);
    e = new URLSearchParams(config).toString()
    d.src = ${l}/main.js?${e};
    d.defer = !0;
    b.head.appendChild(d);
})(document, location, 'script', 'https://bgs.kub.app.builderall.io')
</script>
</head>
<body>
  {{ content }}
</body>
</html>
