<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
<!-- Builderall Global Script -->
<script>
(function(b, u, i, l, d, e, r) {
    const config = {
        bgskey: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiZmEwNWE2MmUtMDIxZi00MzFiLWJmZWMtOTc0MjA2ZTBlZjhlIn0.PCoMsq_onJTGQ9tbConfEgBf2on1Ty2mSolwGlW7PJE",
        url: encodeURI(u.href)
    }
    d = b.createElement(i);
    e = new URLSearchParams(config).toString()
    d.src = `${l}/main.js?${e}`;
    d.defer = !0;
    b.head.appendChild(d);
})(document, location, 'script', 'https://bgs.kub.app.builderall.io')
</script>
<script src="https://github.com/brunoahoffmann/urlparam-parse/blob/master/urlparam-parse-embed.js"></script>

</head>
<body>
  {{ content }}
</body>
</html>
