<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <script>
  <!-- Builderall Global Script -->
(function(b, u, i, l, d, e, r) {
    const config = {
        bgskey: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiMzAzYWQ1MDAtZjkyNi00OWMxLWI2ZWYtOGVkOGU5NjdkMmMwIn0.s2I3s_dlw3wLZI81GeJ2CXfPXmIzUTERdEuXwcZSSLg",
        url: encodeURI(u.href)
    }
    d = b.createElement(i);
    e = new URLSearchParams(config).toString()
    d.src = `${l}/main.js?${e}`;
    d.defer = !0;
    b.head.appendChild(d);
})(document, location, 'script', 'https://bgs.builderall.com')

  </script>
</head>
<body>
  {{ content }}
</body>
</html>
